# ignore a single file
RNS_Solver
RNS_Solver_restart
Makefile
cmake_install.cmake
CMakeCache.txt

# ignore an entire directory
/CMakeFiles/
/Movie/
/Movie_Test/
/dat_saves/
/dat_saves_temp/
# ignore a file type
#*.json
*.log

# add an exception (using !) to the preceding rule to track a specific file
#!package.json
